<!DOCTYPE html>
<html>
  <head>
    <title>Pollos</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% unless notice.blank? %>
      <div class="alert alert-info alert-dismissable alert-fixed">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <% unless alert.blank? %>
      <div class="alert alert-danger alert-dismissable alert-fixed">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <div class="container">
    <div class="footer">
      <%= Time.now.year %>
      <%= fa_icon 'copyright' %>
        <a href="http://www.rubyonrails.org/">Pollos -  xarxa social feta amb Ruby on Rails</a>
        by <%= mail_to "supersexador.de.pollos@gmail.com", "Sr. Higgins"%>
      <a href="http://www.rubyonrails.org/"><img src="/images/rails.png" style="width:48px;height:50px;"></a>
    </div>
    </div>
  </footer>
</html>